{% extends 'templates/base/main.html' %}
{% block content %}
    <hr>
<h1>Post</h1>
<hr>
<div class="post">
                <h2>{{ object.title }}</h2>
                <p>{{ object.description }}</p>
                <p>Posted by: {{ object.author }}</p>
            </div>

    <hr>
    <button ><a href="{% url 'posts' %}">Back</a></button>
<style>


    .post{
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
    }

    .post h2,
    .user p {
        margin-bottom: 5px;
    }

    .post a,
    .user a {
        margin-right: 10px;
    }
</style>

{% endblock content %}